pkgbase = op-cli
	pkgdesc = The 1password command-line tool
	pkgver = 2.3.1
	pkgrel = 1
	url = https://1password.com/downloads/command-line/
	arch = x86_64
	license = GPL
	source = https://cache.agilebits.com/dist/1P/op2/pkg/v2.3.1/op_linux_amd64_v2.3.1.zip
	md5sums = 86105bdcc8eea75a3ffc9d22c06d160b
	sha256sums = 453d5333b29aec941cdfe6cbd4590ec101b3e2e356c51e469483c364dac190e2

pkgname = op-cli
