pkgbase = enonic-cli
	pkgdesc = The Enonic XP command-line tool
	pkgver = 1.0.7
	pkgrel = 1
	url = https://developer.enonic.com/start
	arch = x86_64
	license = GPL
	source = https://repo.enonic.com/public/com/enonic/cli/enonic/1.0.7/enonic_1.0.7_Linux_64-bit.tar.gz
	md5sums = 55220bacca5ea590718059bd70f883f8
	sha256sums = 50f5911ce360c121f9e1c01f315bc436ab7337c806893fbb8de27fedbd11bc01

pkgname = enonic-cli

